* {
  font-family: system-ui, -apple-system, sans-serif;
  background: rgb(159,159,255);
  background: -moz-linear-gradient(90deg, rgba(159,159,255,1) 0%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(159,159,255,1) 0%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(159,159,255,1) 0%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9f9fff",endColorstr="#00d4ff",GradientType=1);
  display: inline-block;
  padding: 1em;
  width: 7em;
  height: 2em;
  vertical-align: middle;
  color: #FFF;
}
